#documents being edited at the moment
*.py~
*.txt~
*.md~
*.gitignore~
#files produced as result of program
*.txt
*.p

=======
=======
*.py#

#files produced as result of program
*.txt
*.p

#documentation
*.docx